<!--die person mit ich chatte-->
<div class="selectedchat">
  <p class="picture"> {{person.picture}}</p>
  <p class="name">{{person.name}}</p>
</div>
<div>
  <!--chat-->
    <div class="chatmessage">
      <app-chatmessage [answer]="message" [messages]="person.messages" *ngFor="let message of person.messages">
      </app-chatmessage>
      <br>
    </div>
    <!--nachricht senden-->
  <div class="sendmesssage">
    <input type="text" (keydown.enter)="send()" placeholder="new message..." name="chatmessage" #newmessage>
    <span class="send" (click)="send()">➕</span>
  </div>
</div>