.sendmesssage{
    width: 750px;
    height: 75px;
    border: 1px solid black;
    background-color: purple; 
}

.chatmessages{
    width: 750px;
    height: 850px;
    border: 1px solid black;
    background-color: green; 
}