.left{
    background-color: dimgrey;
    border: black 1px solid;
    float: left;
    border-radius: 10%;
}

.right{
    background-color: gainsboro;
    border: black 1px solid;
    float: right;
    border-radius: 10%;
}